In [37]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import API key
from config import g_key

In [38]:
# upload city weather data from the CSV into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-01-22 16:27:47,-42.8794,147.3294,62.28,86,90,4.61
1,1,Puerto Ayora,EC,2022-01-22 16:31:14,-0.7393,-90.3518,78.76,75,97,7.23
2,2,Rikitea,PF,2022-01-22 16:32:27,-23.1203,-134.9692,77.92,70,100,10.65
3,3,Kruisfontein,ZA,2022-01-22 16:32:28,-34.0033,24.7314,80.89,60,18,20.29
4,4,Severo-Kurilsk,RU,2022-01-22 16:32:15,50.6789,156.1250,27.19,76,99,13.67

In [39]:
# check the data types to ensure lat/long are integer or floating-point decimals for gmaps
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [40]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [41]:
# # determine temps less than 0 causing an error on weight
# neg_temps = city_data_df.loc[(city_data_df["Max Temp"] < 0)]

# neg_temps

In [42]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []

# # use a for loop to use the greater of the temp or 0 to eliminate negatives
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [43]:
# create the heatmap for temperatures
# assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# # get the maximum temperature.
# max_temp = city_data_df["Max Temp"]

# assign the figure variable to gmaps.figure() attributes
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap_layer variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer.
fig.add_layer(heat_layer)

# call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [60]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2022-01-22 16:31:14,-0.7393,-90.3518,78.76,75,97,7.23
2,2,Rikitea,PF,2022-01-22 16:32:27,-23.1203,-134.9692,77.92,70,100,10.65
3,3,Kruisfontein,ZA,2022-01-22 16:32:28,-34.0033,24.7314,80.89,60,18,20.29
10,10,Kununurra,AU,2022-01-22 16:32:30,-15.7667,128.7333,80.58,94,40,0.00
11,11,Vaini,TO,2022-01-22 16:32:30,-21.2000,-175.2000,77.16,94,40,3.44
12,12,Mahebourg,MU,2022-01-22 16:32:31,-20.4081,57.7000,82.26,89,40,11.50
13,13,Atuona,PF,2022-01-22 16:32:31,-9.8000,-139.0333,78.44,78,78,21.52
22,22,Maldonado,UY,2022-01-22 16:32:35,-34.6667,-54.9167,78.19,54,17,5.79
27,27,Gusau,NG,2022-01-22 16:32:36,12.1628,6.6614,80.53,13,10,10.02
30,30,Avarua,CK,2022-01-22 16:32:38,-21.2078,-159.7750,78.85,89,75,17.27

In [62]:
# check for nulls
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1   Puerto Ayora      EC     78.76  -0.7393  -90.3518
2        Rikitea      PF     77.92 -23.1203 -134.9692
3   Kruisfontein      ZA     80.89 -34.0033   24.7314
10     Kununurra      AU     80.58 -15.7667  128.7333
11         Vaini      TO     77.16 -21.2000 -175.2000
12     Mahebourg      MU     82.26 -20.4081   57.7000
13        Atuona      PF     78.44  -9.8000 -139.0333
22     Maldonado      UY     78.19 -34.6667  -54.9167
27         Gusau      NG     80.53  12.1628    6.6614
30        Avarua      CK     78.85 -21.2078 -159.7750

In [64]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [66]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [70]:
# view first 10 rows
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Rikitea,PF,77.92,-23.1203,-134.9692,People ThankYou
3,Kruisfontein,ZA,80.89,-34.0033,24.7314,Oyster Bay House Rental
10,Kununurra,AU,80.58,-15.7667,128.7333,Hotel Kununurra
11,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
12,Mahebourg,MU,82.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Atuona,PF,78.44,-9.8000,-139.0333,Villa Enata
22,Maldonado,UY,78.19,-34.6667,-54.9167,La Cimarrona
27,Gusau,NG,80.53,12.1628,6.6614,GUEST INN
30,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

In [76]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]