## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Guapiacu,BR,79.09,clear sky,-20.7950,-49.2203,Chacara Rosa De Saron
1,8,Pemangkat,ID,82.72,few clouds,1.1667,108.9667,Ramah Kost KITA
2,12,East London,ZA,71.85,clear sky,-33.0153,27.9116,Tu Casa
3,14,Puerto Ayora,EC,72.86,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,15,Avarua,CK,78.85,moderate rain,-21.2078,-159.7750,Paradise Inn

In [90]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [91]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [165]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Cape Town"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hermanus"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bredasdorp"]

In [166]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0,5:7]
end = vacation_end.to_numpy()[0,5:7]
stop1 = vacation_stop1.to_numpy()[0,5:7]
stop2 = vacation_stop2.to_numpy()[0,5:7]
stop3 = vacation_stop3.to_numpy()[0,5:7]

In [167]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(
            start, end, waypoints=[stop1, stop2, stop3],
            travel_mode='DRIVING')
fig.add_layer(route)

fig

Figure(layout=FigureLayout(height='420px'))

In [168]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,109,Saldanha,ZA,73.45,scattered clouds,-33.0117,17.9442,Blue Bay Lodge
1,169,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,209,Hermanus,ZA,78.80,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,22,Bredasdorp,ZA,78.28,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor

In [169]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [171]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))